.field-input-icon {
    height: 40px;
    width: 261px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-left: 24px;
    box-sizing: border-box;
    outline: none;
    padding-left: 40px;
    background-image: url("../../content/icon/search.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 16px center;
}

.field-input-icon:hover {
    border-Color: #019160
}

.field-input-icon:focus {
    border-Color: #019160
}

input::placeholder {
    font-size: 11px;
}