<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base/dropdown.css">
</head>

<body>
    <script src="../lib/jquery.min.js"></script>
    <script src="../css/main.css"></script>
    <script src="../js/base/dropdown.js"></script>
    <script src="../../Scripts/Common/Common.js"></script>
    <script>
        var str = "0123456ádasdasd789abc";
        var patt1 = /[^0-9]/g;
        console.log(str.match(patt1));
    </script>
</body>

</html>